<div>
    <h2>My Portfolio</h2>
     <p>Welcome</p>
     <form [formGroup]="portfolioRef" (ngSubmit)="save()">
     <label>Contact Name</label>
     <input type="text" formControlName="cname"><br/>
     <label>Phone Number</label>
     <input type="tel" formControlName="phoneNumber"><br/>
     <input type="submit" value="save">
     <table id="myDetails">
         <thead>
             <tr>
             <th>Name</th>
             <th>Phone No:</th>
             </tr>
             <tr *ngFor="let p of portfolioList">
                 <td>{{p.name}}</td>
                 <td>{{p.phoneNumber}}</td>
             </tr>
         </thead>
     </table>
    </form> 

</div>